.modalWidh{
     width: 96%;
     margin: 0 auto;
    margin-top: 10px;
    height: auto;
}
.descriptionImage{
border-radius: 10px;
transition: all 0.4s;
}
.imgRow{
     overflow: hidden;
     border-radius: 15px;
     margin-top: 15px;
     margin-bottom: 15px;
}
.descriptionImage:hover{
     transform: scale(1.1);
    
}