.skillSection{
    padding:40px  20px ;
    width: auto;
    
}
.skillHead{
    font-size: 25px;
    color: gray;
    margin: 10px auto;

}
.skillflex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;

    
}
.extraSkill{
    display: inline-block;
    background-color: #2980b9;
 font-size: normal;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 3px 7px;
    border-radius: 5px;
}
@media only screen and (max-width: 425px) {

    .skillflex{
    display: flex;
    flex-direction: column;
   overflow-x: hidden;
    grid-column-gap: 15px;

    
}

}